################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Csharp/SolutionCodingGame/.vs/SolutionCodingGame
/.vs/slnx.sqlite
