################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Csharp/SolutionCodingGame/.vs/SolutionCodingGame
/.vs/slnx.sqlite
/.vs/codinggameent/FileContentIndex/a4684b1c-3258-4f89-b029-e918ee31db87.vsidx
/.vs/codinggameent/FileContentIndex
