<div class="row">
<div class= 'col-md-5'>


<div class="card">
  <div class="card-header">
    {{ pageTitle }}
  </div>

  <div class="card-body"
       *ngIf="products">
    <div class="list-group">
      <button type="button"
              class="list-group-item"
              *ngFor="let product of products"
              [ngClass]="{ active: product?.id === selectedProductId }"
              (click)="onSelected(product.id)">
        {{ product.productName }} ({{ product.categoryId }})
      </button>
    </div>
  </div>
</div>

<div class="alert alert-danger"
     *ngIf="errorMessage">
  {{ errorMessage }}
</div>
</div>
  <div class="col-md-7">
    <pm-product-detail [productId] = "selectedProductId"> </pm-product-detail>
  </div>
</div>
