<div class="card" *ngIf="productDetail">
    <div class="card-header">
    product details
    </div>
<div class="card_body">
    <div class="row">
        <div class="col-md-2">Name:</div>
        <div class="col-md-6">{{ productDetail.productName }}</div>
      </div>
      <div class="row">
        <div class="col-md-2">Code:</div>
        <div class="col-md-6">{{ productDetail.productCode }}</div>
      </div>
      <div class="row">
        <div class="col-md-2">Category:</div>
        <div class="col-md-6">{{ productDetail.categoryId }}</div>
      </div>
      <div class="row">
        <div class="col-md-2">Description:</div>
        <div class="col-md-6">{{ productDetail.description }}</div>
      </div>
      <div class="row">
        <div class="col-md-2">Price:</div>
        <div class="col-md-6">{{ productDetail.price | currency: "USD":"symbol" }}</div>
      </div>
      <div class="row">
        <div class="col-md-2">In Stock:</div>
        <div class="col-md-6">{{ productDetail.quantityInStock }}</div>
      </div>


      <div class="table-responsive"  *ngIf="productDetail.hasReviews; else noSuppliers">
 
  <table class="table mb-0" *ngIf="suppliersid" >
      
    <thead>
      <tr>
        <th>Supplier</th>
        <th>Cost</th>
        <th>Minimum Quantity</th>
      </tr>
    </thead>
    <tbody>
      <!-- <tr *ngFor="let supplier of productSuppliers">
        <td>{{ supplier.name }}</td>
        <td>{{ supplier.cost | currency: "USD":"symbol":"1.2-2" }}</td>
        <td>{{ supplier.minQuantity }}</td>
      </tr>
    </tbody> -->
  </table>
</div>

<ng-template #noSuppliers>
<div class="alert alert-warning">
  No suppliers for product
</div>
</ng-template>
</div>
</div>

